@tailwind utilities;

.row {
  @apply flex flex-wrap -mx-4
}

.font-34 {
  @apply text-lg xl:text-2xl 2xl:text-3xl
}

.font-24 {
  @apply text-base xl:text-xl 2xl:text-2xl
}

.font-20 {
  @apply text-sm xl:text-lg 2xl:text-xl
}

.font-19 {
  @apply text-sm xl:text-base 2xl:text-xl
}

.font-18 {
  @apply text-f13 xl:text-sm 2xl:text-lg
}

.font-16 {
  @apply text-f11 xl:text-f13 2xl:text-base
}

.font-14 {
  @apply text-f10 xl:text-f11 2xl:text-sm
}

.font-12 {
  @apply text-[9px] xl:text-f10 2xl:text-xs
}

.lara-input, .lara-btn, .lara-btn-auto, .select-items div, .select-selected, .lang-btn, .jselect > .jselect__display, .lara-padding {
  @apply font-14 px-4 2xl:px-6 py-2.5
}

.lara-input-search{
    @apply px-4 2xl:px-6 py-2.5
}

.lara-btn{
    @apply w-full duration-300 capitalize rounded-lara-radious
}

.lara-logo-btn{
    @apply duration-300 capitalize rounded-lara-radious h-[36.5px] w-[36.6px] 2xl:h-10 2xl:w-10 flex justify-center items-center
}

.lara-btn-auto{
    @apply duration-300 capitalize rounded-lara-radious
}

.lara-label {
  @apply block font-14 font-medium text-black-50 capitalize mb-2
}

.lara-input, .lara-input-search, .lara-input-date {
  @apply text-black-50 outline-none w-full rounded-lara-radious
}

.lara-input,.lara-input-date{
  @apply border
}

.lara-input-search{
  @apply pr-14 pl-4 rounded-lara-radious relative
}

.lara-input-date{
  @apply font-16 px-4 2xl:px-6 h-[37px] 2xl:h-[47px]
}


.select-items div, .select-selected{
  @apply text-black-50 w-full
}

.select-items div{
    @apply bg-lara-primary
}
.custom-select > span, .drop-icon {
  @apply absolute text-black-50 pointer-events-none top-1/2 -translate-y-1/2 right-4 2xl:right-6 font-16
}

.ssb_sb{
  @apply bg-primary
}

.ssb_sb {
  cursor:pointer;
  position:absolute;
  left:5px;
  transform: translateX(-50%);
  border-radius: 10px;
  width: 2px;
  min-height: 80px;
  transition: height 100ms linear;
}

.ssb_sb::after{
  @apply border-primary
}

.ssb_sb::after{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.ssb_st {
  background-color: #BDBEC7;
  cursor:pointer;
  height:100%;
  position:absolute;
  left:5px;
  top:0;
  border-radius: 10px;
  width: 1px;
}

.customScroll-none::-webkit-scrollbar{
    width: 0px;
}
.customScroll-none::-moz-scrollbar{
    width: 0px;
}
.customScroll::-webkit-scrollbar{
    width: 4px;
}
.customScroll::-moz-scrollbar{
    width: 4px;
}

.customScroll::-webkit-scrollbar-track{
    background-color: transparent;
}
.customScroll::-webkit-scrollbar-thumb{
    background-color: #BDBEC7;
}

.customScroll::-moz-scrollbar-track{
    background-color: transparent;
}
.customScroll::-moz-scrollbar-thumb{
    background-color: #BDBEC7;
}

.screen-height{
  height: calc(100vh - 125px);
}

/* / custom drop start / */

.custom-select select {
    display: none;
  }


   .select-items div,.select-selected {
    cursor: pointer;
    user-select: none;
  }

  .select-selected{
    @apply rounded-lara-radious bg-lara-primary;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  .pagination-select .select-selected{
    @apply bg-lara-darkBlack px-2 font-12 py-[11px]
  }
  .pagination-select .select-items > div{
    @apply bg-lara-darkBlack font-12
  }
  .pagination-select .select-items{
    @apply min-w-[120px]
  }

  .pagination-select .select-items .same-as-selected{
    @apply bg-primary
  }

  .pagination-select > span{
    @apply right-2
  }

  .select-items {
    @apply rounded-lara-radious overflow-hidden shadow-lg absolute right-1/2 translate-x-1/2 mt-1;
    z-index: 40;
    width: calc(100% + 2px);
  }

  .custom-select-filter .select-selected{
    padding-left: 0;
    font-weight: 500;
  }

  .dropPosBottom{
    top: 100%;
    margin-top: 6px;
  }
  .dropPosTop{
    bottom: 100%;
    margin-bottom: 6px;
  }
  .custom-select-header .select-items{
    width: 140px;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }

  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected{
    @apply bg-primary text-white
  }

  .select-items .same-as-selected {
    @apply bg-primary text-white
  }
/* / custom drop end / */

/* / custom check / */

.custom-check:checked + label>span>i{
  display: block;
}
.custom-check:not(:checked) + label>span>i{
  display: none;
}

/* / custom radio / */

[type="radio"]:checked + label>span>span ,
.custom-check:not(:checked) + label>span>span
{
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

[type="radio"]:not(:checked) + label>span>span ,
.custom-check:not(:checked) + label>span>span
{
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.preDrop .select-selected{
 padding-left: 60px;
}

.preDrop .select-items>div{
 border-bottom: 1px solid #dedee2;
 padding: 8px 18px 8px 18px;
}

.preDrop .select-items{
 background-color: white;
 border-top: 4px solid #777778;
 border-bottom: 4px solid #777778;
}

.preDrop .select-items>div:hover{
 background-color: #777778;
 color: white;
}

.custom-border-radious{
  border-radius: 66% 34% 32% 68% / 48% 48% 52% 52% ;
}

.drop-down-item{
  transition: all 0.3s ease-in-out;
}

/* menu style start */

.curve-design > ul ul li{
  border-left: 2px solid #3e607f;
}

.curve-design > ul ul li:last-child{
  border-color: #ffffff00;
}

.curve-design > ul ul li:last-child::after{
  content: '';
  position: absolute;
  bottom: 0px;
  top: -1px;
  left: -2px;
  width: 2px;
  height: 100%;
  transform: translateY(-50%);
  background: #3e607f;
}

.curve-design > ul ul li::before{
  content: '';
  position: absolute;
  top: -16px;
  left: -2px;
  width: 2px;
  height: 16px;
  background: #3e607f;
}

.curve-design > ul ul li:last-child::before{
  content: '';
  position: absolute;
  top: -6px;
  left: -2px;
  width: 2.5px;
  height: 6px;
  background: #ffffff00;
}

.sider-arrow > ul > li > div > ul::after{
  content: '';
  position: absolute;
  left: 10px;
  top: 24px;
  width: 15px;
  height: 15px;
  background: #0E395F;
  transform: rotate(45deg);
  pointer-events: none;
  z-index: -1;
}

 /* menu style end  */




 .switch {
  @apply w-12 h-6
 }

 .slider::before{
  @apply w-4 h-4
 }

 .slider:before {
  position: absolute;
  content: "";
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  pointer-events: none;
}

input:checked + .slider {
  @apply bg-lara-blue
}

input:checked + .slider>span:nth-child(2) {
  opacity: 0;
  transition: all 300ms linear;
}

input:not(:checked) + .slider>span:nth-child(1) {
  opacity: 0;
  transition: all 200ms linear;
}

input:checked + .slider:before{
  -webkit-transform: translateX(22px);
  -moz-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.custom-input-checked input:checked + .checked-item, .custom-input-checked input:checked + .checked-item>svg{
  @apply text-lara-blue;
}

.hide-scrollbar{
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-calendar-picker-indicator{
  opacity: 0;
  width: 20px;
  height: 20px;
  position: relative;
  right: -5px;
}
::-moz-calendar-picker-indicator{
  opacity: 0;
  width: 20px;
  height: 20px;
  position: relative;
  right: -5px;
}

::-ms-calendar-picker-indicator{
  opacity: 0;
  width: 20px;
  height: 20px;
  position: relative;
  right: -5px;
}

.customScrollX::-webkit-scrollbar{
  height: 4px;
}
.customScrollX::-moz-scrollbar{
  height: 4px;
}
.customScrollX::-ms-scrollbar{
  height: 4px;
}

.customScrollX::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #BDBEC7;
  visibility: hidden;
}

.customScrollX::-moz-scrollbar-thumb{
  border-radius: 5px;
  background-color: #BDBEC7;
  visibility: hidden;
}

.customScrollX::-ms-scrollbar-thumb{
  border-radius: 5px;
  background-color: #BDBEC7;
  visibility: hidden;
}

.customScrollX:hover::-moz-scrollbar-thumb{
  visibility: visible;
}

.customScrollX:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

.customScrollY::-webkit-scrollbar{
  width: 4px;
}
.customScrollY::-moz-scrollbar{
  width: 4px;
}
.customScrollY::-ms-scrollbar{
  width: 4px;
}

.customScrollY::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #BDBEC7;
  visibility: hidden;
}

.customScrollY::-moz-scrollbar-thumb{
  border-radius: 5px;
  background-color: #BDBEC7;
  visibility: hidden;
}

.customScrollY::-ms-scrollbar-thumb{
  border-radius: 5px;
  background-color: #BDBEC7;
  visibility: hidden;
}

.customScrollY:hover::-moz-scrollbar-thumb{
  visibility: visible;
}

.customScrollY:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

.w-107{
  width: 428px;
}


input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.menu-active {
  @apply bg-white bg-opacity-10 opacity-100;
}



/* multi select dropdown */

span.optext, span.placeholder{
    @apply text-black-50 font-16 block
  }

  .multiselect-dropdown{
    @apply py-2 2xl:py-2.5 px-4 bg-opacity-20
  }
  span.optext{
    @apply cursor-default flex items-center

  }

  .multiselect-dropdown-list div:hover{
    @apply bg-primary text-white
  }
  .multiselect-dropdown-list div{
      @apply text-black-50
  }
  .multiselect-dropdown-list div label{
    @apply font-16
  }
  .multiselect-dropdown-search
  {
      @apply font-14 px-4 2xl:px-6 py-2 2xl:py-2.5
  }

  td:first-child {
    border-radius: 14px 0 0 14px;
  }


  td:last-child {
    border-radius: 0 14px 14px 0;
  }

  table {
    border-collapse: separate;
    border-spacing: 1px 10px
  }


  .active-menu-hover:hover,.drop-down-header:hover {
    position: relative;
    background-image: linear-gradient(to right,transparent, #334892ad,#334892ad);
  }

  .active-menu-hover:hover::before,.drop-down-header:hover::before {
    @apply bg-lara-blue;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    border-radius: 6px 0px 0px 6px;
  }

  .active-menu,.active-on {
    position: relative;
    background-image: linear-gradient(to right,transparent, #334892ad,#334892ad);
  }

  .active-menu::before,.active-on::before {
    @apply bg-lara-blue;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    border-radius: 6px 0px 0px 6px;
  }

  .active-menu-hover:hover .text-active {
    color: white;
  }

  .active-menu .text-active {
    color: white;
  }

  .lang-hover-style{
    @apply bg-lara-whiteGray
  }

  .lang-btn.active{
    @apply bg-lara-whiteGray text-white
  }

  .lang-btn{
    @apply hover:bg-lara-whiteGray hover:text-white
  }

  .lang-style{
    @apply bg-lara-gray-300 text-lara-primary
  }

  .expand-sidebar{
    @apply w-[230px] lg:w-[200px] xl:w-[230px] 2xl:w-300px
  }

  .collapse-sidebar{
    @apply 2xl:w-[130px] w-28
  }


  .collapse-sidebar .root-item{
    @apply pb-32
  }

.expand-sidebar .footer{
    @apply  text-xs
}

.collapse-sidebar .footer{
    @apply  text-[10px] pt-4 text-center
}

.expand-sidebar .calendar-sec{
    @apply  p-5
}

.collapse-sidebar .calendar-sec{
    @apply  p-2 2xl:p-4
}

.expand-sidebar .sidebar-time{
    @apply  font-24 w-1/2
}

.collapse-sidebar .sidebar-time{
    @apply  font-20 text-center w-full
}

.expand-sidebar .calendar-sec-div{
    @apply flex items-end justify-between
}

.collapse-sidebar .sidebar-date{
    @apply  text-center w-full
}

.expand-sidebar .sidebar-date{
    @apply  whitespace-nowrap
}

.collapse-sidebar .sidebar-day{
    @apply  hidden
}

.expand-sidebar .clock{
    @apply w-full
}
.collapse-sidebar .clock>svg{
    @apply mx-auto
}

.expand-sidebar .calendar-sec-div{
    @apply px-3.5 2xl:px-6
}

.collapse-sidebar .calendar-sec-div{
    @apply  px-2
}


.custom-row{
    grid-template-columns: repeat(auto-fit,minmax(min(150px,100%),1fr));
  }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background: transparent;
}


/* search select drop down start*/
.jselect{
    @apply text-f10 xl:text-f13 2xl:text-sm
  }

  .jselect {
    @apply text-black-50;
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .jselect > .jselect__display{
    @apply rounded-lara-radious bg-lara-gray-100;
  }

  .jselect > .jselect__display {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    text-align: left;
  }

  .jselect > .jselect__display > span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .jselect > .jselect__display[aria-disabled="true"] {
    cursor: not-allowed;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.5;
  }
  .jselect > .jselect__hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border: none;
    color: transparent;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }
  .jselect > .jselect__menu {
    @apply rounded-lara-radious mt-1.5;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    display: none;
    border: none;
    top: 100%;
    z-index: 1;
    width: 100%;
  }
  .dataTable-input{
    color: white;
  }
  .jselect.reverse > .jselect__menu {
    top: unset;
    bottom: 2.5rem;
  }

  .jselect.open > .jselect__display ~ .jselect__menu {
    display: flex;
  }
  .jselect.reverse > .jselect__menu {
    flex-direction: column-reverse;
  }
  .jselect.open > .jselect__display ~ .jselect__menu .jselect__search {
      outline: none;
    }

    .jselect > .jselect__menu > .jselect__search {
      @apply bg-lara-primary font-14 border-b border-b-lara-gray-100;
    border-radius: 4px;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .jselect > .jselect__menu > .jselect__list {
    @apply customScroll font-14;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  .jselect__list > .jselect__noresult {
    padding: 0.5rem 1rem;
    pointer-events: none;
    opacity: 0.65;
  }

  .jselect__noresult{
    @apply bg-lara-gray-100
  }

  .jselect__list .jselect__group {
    display: block;
    width: 100%;
    font-weight: 500;
    padding: 0.5rem 1rem;
  }
  .jselect--option {
    @apply bg-lara-primary;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .jselect__list > .jselect--option:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .jselect--option * {
    cursor: default;
    color: inherit;
  }
  .jselect--option.focus, .jselect--option.selected {
    @apply bg-primary text-white
  }

  .jselect--option.selected small {
    color: #efefef !important;
  }
  .jselect--option.disabled > * {
    opacity: 0.5;
  }
  .jselect--option > .jselect--option__img {
    float: left;
    height: 2rem;
    margin: 0.125rem 1rem 0 0;
  }
  .jselect--option .jselect--option__body {
    display: inline-block;
    clear: both;
  }
  .jselect--option .jselect--option__body span {
    display: block;
    margin-top: 0.1rem;
    color: inherit;
  }
  .jselect--option .jselect--option__img + .jselect--option__body span {
    margin-top: 0.5rem;
  }
  .jselect--option > .jselect--option__body small {
    display: block;
    color: #858585;
    margin-top: 0.2rem;
  }

  .form-arwa > span {
    @apply top-1/2 transform -translate-y-1/2 absolute pointer-events-none  right-3 font-16 pb-px font-thin z-40
  }

/* search select drop down end*/

/* table responsive classes start */

  .always-hidden{
    @apply hidden
  }

  .always-show{
    @apply block
  }

  .resonsive-sm{
    @apply hidden sm:table-cell
  }

  .new-row-resonsive-sm{
    @apply sm:hidden
  }

  .resonsive-md{
    @apply hidden md:table-cell
  }

  .new-row-resonsive-md{
    @apply md:hidden
  }

  .resonsive-lg{
    @apply hidden lg:table-cell
  }

  .new-row-resonsive-lg{
    @apply lg:hidden
  }

  .resonsive-xl{
    @apply hidden xl:table-cell
  }

  .new-row-resonsive-xl{
    @apply xl:hidden
  }

  .resonsive-2xl{
    @apply hidden 2xl:table-cell
  }

  .new-row-resonsive-2xl{
    @apply 2xl:hidden
  }

  .tableOptionButton.active{
    @apply text-white
  }

.drop-down-list.active{
   @apply bg-lara-whiteGray text-white
}

.filter-group {
    @apply font-12
}

.filter-group button{
    @apply font-12 h-[38px];
}
.filter-group a{
    @apply font-12 h-[38px];
}

.filter-group label{
    @apply font-12
}

.filter-group input{
    @apply font-12
}
.filter-group .custom-input-checked span{
    @apply font-12
}

  .darkblack-imp{
    @apply bg-lara-darkBlack
  }

/* table responsive classes end */


/* table row hidden xl:table-cell */

 /*new list  block xl:hidden */
